
  <div class="card mt-3 mb-2 mx-auto shadow-sm">
      <div class="card-body">
        <h1 class="card-title">Create Post</h1>
        <form name="createPost" enctype="multipart/form-data" method="POST" action="/createpost">
          <div class="post-text">
            <div class="whole-post">
              <div class="actual-text">
                <div class="box-text mb-2">
                  <textarea name="title" id="title" class="form-control" placeholder="Title of your post">{{input_title}}</textarea>
                  <p style="color: red; font-size: 10px">
                    {{details_titleError}}
                  </p>
                   <textarea name="body" id="body" class="form-control" placeholder="Any story to tell?"
                    rows="2">{{input_body}}</textarea>
                  
                  <p style="color: red; font-size: 10px">
                    {{details_bodyError}}
                  </p>
                
                  <input type="text" name="tags" id="tags" class="form-control"
                    placeholder="#Tags (Separate your tags with comma)" value="{{input_tags}}" autocomplete="off"></input>
                  <p style="color: red; font-size: 10px">
                    {{details_tagsError}}
                  </p>
                </div>
                
                
                
                <label for="univeristy" class="form-label"><i class="fas fa-university"></i>University</label>
                <select id="universities" name="university" class="form-select" aria-label="Default select example">
                  <option value="ADMU">&#x1f985 ADMU</option>
                  <option value="DLSU">&#127993 DLSU</option>
                  <option value="UP">&#9994 UP</option>
                  <option value="UST">&#128047 UST</option>
                </select>
                  
                {{!-- <button class="btn btn-secondary mb-2 mt-4"> --}}
                  <br>
                  <label for="upload" class="form-label">
                    Photo<br>
                    <input id="upload" name="upload" type="file" accept="image/*" 
                            onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])">
                    {{!-- Photo --}}
                  </label>
                {{!-- </button> --}}

                <button type="submit" id="postbutton" class="btn btn-secondary mb-2 mt-4 float-end">Post</button>
                
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>
