<div class="content-sidenav center">
    <a href="/profile/{{userid}}"><img class="img-circle mx-auto d-block" src="/avatars/{{DisplayPicture}}" /> </a>
    <div class="rank-label-container">
        <span class="label label-default rank-label" id="creditScore" title="Credit Score" style="cursor:default;">{{CreditScore}} pts</span>
    </div>
    <p class="p-name text-center">{{fName}} {{lName}}</p>
    <p class="p-name text-center" style="font-size: 13px; margin-top: -20px; font-family:Arial, Helvetica, sans-serif; font-style: italic;" id="DisplayName">@{{DisplayName}}</p>
</div>