<div class="col-sm-2 left-bar">
    <div class="trendingbox">
        <div class="card">
            <img src="/img/logo.png" class="card-img-top" alt="..." width="100px" style="margin-top: 20px;">
        </div>
        <div class="trendingname">What's Trending?</div>
        <div class="trendingcontent"><li>{{Trending1}}</li></div>
        <div class="trendingcontent"><li>{{Trending2}}</li></div>
        <div class="trendingcontent"><li>{{Trending3}}</li></div>
        <div class="trendingcontent"><li>{{Trending4}}</li></div>
        <div class="trendingcontent"><li>{{Trending5}}</li></div>
    </div>
</div>