<!DOCTYPE html>
<html lang='en'>

<head>
    <meta name="google-signin-client_id"
        content="436134069770-8noeso15h66pmn94790jkskieq3a3jl5.apps.googleusercontent.com">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/facelift/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
    <link rel="stylesheet" type="text/css" href="/css/homepagestyle.css">
    <link rel="icon" href="/img/logo.png">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/080b1bc218.js" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- JQuery Import -->
    {{!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> --}}
    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Custom JS Import -->
    <script src="/js/votes.js"></script>
    <script src="/js/profile.js"></script>

    <title>Timeline | B4 Freedom Wall</title>
</head>

<body>
    {{>header userid = user._id}}

    <div class="row">
        <div class="col-2">
            {{>sideProfile fName = user.fName lName = user.lName CreditScore = user.creditScore DisplayName = user.username DisplayPicture = user.avatar userid = user._id}}  
        </div>
        <div class="col-8 ml-5">
            {{#if warn}}
            <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: left;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>Warning:</strong> Your credit score has dropped to -50 or less. If your credit score continues
                to drop and reached -100, your account will be permanently blocked.
            </div>
            {{/if}}

            <div class="mw-auto">

                {{#if result}}
                <h3>Search Results for: <span style="font-weight: 300; text-decoration:underline">{{msg}}</span></h3>
                <hr>

                {{else}}
                {{>createPost
                userid = user._id
                image = user.avatar
                input_title = input.title
                details_titleError = details.titleError
                input_body = input.body
                details_bodyError = details.bodyError
                input_tags = input.tags
                details_tagsError = details.tagsError
                }}
                <hr>
                {{/if}}

                {{#if result}}

                {{else}}
                <div>
                {{#if popular}}
                <a href='/timeline{{college}}/newest'><button class="btn btn-light shadow-sm"
                        style="margin-top: 20px; margin-bottom: 20px; font=size: 14px;"><i
                            class="fas fa-filter"></i> Filter: (Popular)</button></a>

                {{else}}
                <a href='/timeline{{college}}'><button class="btn btn-light shadow-sm"
                        style="margin-top: 20px; margin-bottom: 20px;"><i
                            class="fas fa-filter"></i> Filter: (Newest)</button></a>
                {{/if}}
                </div>
                {{/if}}

                <div id="post">
                    {{#if pa}}
                    <p style="margin-top: 7px">Sorry, we couldn't find any results matching <span
                            style="text-decoration: underline;">{{msg}}</span>.</p>
                    {{/if}}


                    {{#each posts}}
                    {{>post university = this.university activeid = ../active_user saved = ../saved upvoted = ../upvoted
                    downvoted = ../downvoted comment = this.comments.length}}
                    {{/each}}
                </div>
            </div>

            

        </div>
       
    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous">
    </script>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            var socketId;

            var updatePostStats = {
                upvoted: function (postId) {
                    document.querySelector('#upvotecount_' + postId).textContent++;
                },
                downvoted: function(postId) {
                    document.querySelector('#downvotecount_' + postId).textContent++;
                },

                //remove upvote and downvote
                unupvote: function (postId) {
                    document.querySelector('#upvotecount_' + postId).textContent--;
                },
                undownvote: function(postId) {
                    document.querySelector('#downvotecount_' + postId).textContent--;
                }
            };

            // unupvote to upvoted
            var upvoted = function (event) {
                var post_id = event.target.dataset.postId;
                var puid = event.target.dataset.puid;
                var action = "upvoted"

                var u = document.getElementById('upvote_' + post_id).src
                var d = document.getElementById('upvote_' + post_id).nextElementSibling.src;

                if((u == "http://localhost:9090/img/upvote.png") || (u == "/img/upvote.png") || (u == "https://big-four-fw.herokuapp.com/img/upvote.png") || (u == "https://mco2-big4fw.herokuapp.com/img/upvote.png")){
                    document.getElementById('upvote_' + post_id).src = "/img/upvoted.png";
                

                    var upvote = 1;
                    var downvote = 0;
                    var upvoteCredit = 1;
            
                    if(d == 'http://localhost:9090/img/downvoted.png'){
                        document.getElementById('upvote_' + post_id).nextElementSibling.src = "/img/downvote.png"
                        // var dv = $('#downvotecount_'+post_id).text();
                        // var downvote = parseInt(dv) - 1;
                        downvote = 1;
                        upvoteCredit += 1;
                        // $('#downvotecount_'+post_id).text(downvote);
                    }
                    else if(d == '/img/downvoted.png'){
                        document.getElementById('upvote_' + post_id).nextElementSibling.src = "/img/downvote.png"
                        // var dv = $('#downvotecount_'+post_id).text();
                        // var downvote = parseInt(dv) - 1;
                        downvote = 1;
                        upvoteCredit += 1;
                        // $('#downvotecount_'+post_id).text(downvote);
                    }else if(d == 'https://big-four-fw.herokuapp.com/img/downvoted.png'){
                        document.getElementById('upvote_' + post_id).nextElementSibling.src = "/img/downvote.png"
                        // var dv = $('#downvotecount_'+post_id).text();
                        // var downvote = parseInt(dv) - 1;
                        downvote = 1;
                        upvoteCredit += 1;
                        // $('#downvotecount_'+post_id).text(downvote);
                    }else if(d == 'https://mco2-big4fw.herokuapp.com/img/downvoted.png'){
                        document.getElementById('upvote_' + post_id).nextElementSibling.src = "/img/downvote.png"
                        // var dv = $('#downvotecount_'+post_id).text();
                        // var downvote = parseInt(dv) - 1;
                        downvote = 1;
                        upvoteCredit += 1;
                        // $('#downvotecount_'+post_id).text(downvote);
                    }

                    axios.post('/post/upvote', { action: action, puid: puid, post_id: post_id, upvoteCount: upvote, downvoteCount: downvote, upvoteCredit: upvoteCredit});
                } else{
                    // upvoted to unupvote
                    var action = "unupvote"

                    document.getElementById('upvote_' + post_id).src = "/img/upvote.png";

                    var upvote = 1;
                    var downvote = 0;
                    var upvoteCredit = 1;

                    axios.post('/post/unupvote', { action: action, puid: puid, post_id: post_id, upvoteCount: upvote, downvoteCount: downvote, upvoteCredit: upvoteCredit});
                }
                
                
            };

            // upvoted to unupvote
            var unupvote = function (event) {
                var post_id = event.target.dataset.postId;
                var puid = event.target.dataset.puid;
                var action = "unupvote"

                document.getElementById('upvoted_' + post_id).src = "/img/upvote.png";

                var upvote = 1;
                var downvote = 0;
                var upvoteCredit = 1;

                axios.post('/post/unupvote', { action: action, puid: puid, post_id: post_id, upvoteCount: upvote, downvoteCount: downvote, upvoteCredit: upvoteCredit});
            };

            // undownvote to downvoted
            var downvoted = function (event) {
                var post_id = event.target.dataset.postId;
                var puid = event.target.dataset.puid;
                var action = "downvoted"

                var d = document.getElementById('downvote_' + post_id).src
                var u = document.getElementById('downvote_' + post_id).previousElementSibling.src;

                if((d == "http://localhost:9090/img/downvote.png") || (d == "/img/downvote.png") || (d == "https://big-four-fw.herokuapp.com/img/downvote.png") || (d == "https://mco2-big4fw.herokuapp.com/img/downvote.png")){
                    document.getElementById('downvote_' + post_id).src = "/img/downvoted.png";
                    var downvote = 1;
                    var upvote = 0;
                    var downvoteCredit = 1;

                    if(u == 'http://localhost:9090/img/upvoted.png'){
                        document.getElementById('downvote_' + post_id).previousElementSibling.src = "/img/upvote.png"
                        // var uv = $('#upvotecount_'+post_id).text();
                        // var upvote = parseInt(uv) - 2;
                        upvote = 1;
                        downvoteCredit += 1;
                        // $('#upvotecount_'+post_id).text(upvote);
                    }
                    else if(u == '/img/upvoted.png'){
                        document.getElementById('downvote_' + post_id).previousElementSibling.src = "/img/upvote.png"
                        // var uv = $('#upvotecount_'+post_id).text();
                        // var upvote = parseInt(uv) - 2;
                        upvote = 1;
                        downvoteCredit += 1;
                        // $('#upvotecount_'+post_id).text(upvote);
                    }else if(u == 'https://big-four-fw.herokuapp.com/img/upvoted.png'){
                        document.getElementById('downvote_' + post_id).previousElementSibling.src = "/img/upvote.png"
                        // var uv = $('#upvotecount_'+post_id).text();
                        // var upvote = parseInt(uv) - 2;
                        upvote = 1;
                        downvoteCredit += 1;
                        // $('#upvotecount_'+post_id).text(upvote);
                    }else if(u == 'https://mco2-big4fw.herokuapp.com/img/upvoted.png'){
                        document.getElementById('downvote_' + post_id).previousElementSibling.src = "/img/upvote.png"
                        // var uv = $('#upvotecount_'+post_id).text();
                        // var upvote = parseInt(uv) - 2;
                        upvote = 1;
                        downvoteCredit += 1;
                        // $('#upvotecount_'+post_id).text(upvote);
                    }

                    axios.post('/post/downvote', { action: action, puid: puid, post_id: post_id, upvoteCount: upvote, downvoteCount: downvote, downvoteCredit: downvoteCredit});
                
                }
                else{
                    action = "undownvote"
                    document.getElementById('downvote_' + post_id).src = "/img/downvote.png";
                    var upvote = 0;
                    var downvote = 1;
                    var downvoteCredit = 1;
                    axios.post('/post/undownvote', { action: action, puid: puid, post_id: post_id, upvoteCount: upvote, downvoteCount: downvote, downvoteCredit: downvoteCredit});
                }

                
                
            };
            
            // downvoted to undownvote
            var undownvote = function (event) {
                var post_id = event.target.dataset.postId;
                var puid = event.target.dataset.puid;
                var action = "undownvote"
                
                document.getElementById('downvoted_' + post_id).src = "/img/downvote.png";
                var upvote = 0;
                var downvote = 1;
                var downvoteCredit = 1;
                axios.post('/post/undownvote', { action: action, puid: puid, post_id: post_id, upvoteCount: upvote, downvoteCount: downvote, downvoteCredit: downvoteCredit});
                
            };
            

            // pusher initialization 
            var pusher = new Pusher("57a598781b49aeefdb0f", {
                cluster: 'ap1'
            });

            console.log(pusher.connection.state);

            // retrieve the socket ID on successful connection
            pusher.connection.bind('connected', function() {
                socketId = pusher.connection.socket_id;
                console.log("connected");
            });
            
            var channel = pusher.subscribe('post-events');
            channel.bind('postAction', function(data) {
                // log message data to console - for debugging purposes
                //console.log(data);
                var action = data.action;
                //updatePostStats[action](data.post_id);

                if(action == "upvoted"){
                    var u = document.querySelector('#upvotecount_' + data.post_id).textContent
                    document.querySelector('#upvotecount_' + data.post_id).textContent =  parseInt(u) + data.upvoteCount

                    var d = document.querySelector('#downvotecount_' + data.post_id).textContent
                    document.querySelector('#downvotecount_' + data.post_id).textContent = parseInt(d) - data.downvoteCount

                } else if (action == "downvoted"){
                    var u = document.querySelector('#upvotecount_' + data.post_id).textContent
                    document.querySelector('#upvotecount_' + data.post_id).textContent = parseInt(u) - data.upvoteCount

                    var d = document.querySelector('#downvotecount_' + data.post_id).textContent
                    document.querySelector('#downvotecount_' + data.post_id).textContent = parseInt(d) + data.downvoteCount
                } else if (action == "unupvote"){
                    var u = document.querySelector('#upvotecount_' + data.post_id).textContent
                    document.querySelector('#upvotecount_' + data.post_id).textContent = parseInt(u) - data.upvoteCount

                    
                } else{
                    var d = document.querySelector('#downvotecount_' + data.post_id).textContent
                    document.querySelector('#downvotecount_' + data.post_id).textContent = parseInt(d) - data.downvoteCount
                }
                
            });
        </script>

   

</body>

</html>